body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 95%;
    margin-top: 20vh; /* Add margin-top to push the container down */
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.button-group button {
    flex: 1;
    margin: 0 5px;
    height: 80px; /* Increased height */
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* Disable text selection for Safari */
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}
button:disabled {
    background-color: #ccc;
}
button i {
    margin-right: 5px;
}
button:hover:not(:disabled) {
    background-color: #0056b3;
}
audio {
    width: 100%;
    margin: 10px 0;
}
.editable {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 40px;
    margin-bottom: 10px;
}
.scrollable-list {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}
.history-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.history-item strong {
    display: block;
    margin-bottom: 5px;
}
.admin-password {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-password input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}