<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Query</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='camera/styles.css') }}">
</head>
<body>
    <div class="buttons">
        <button id="start-camera">Start Camera</button>
        <button id="switch-camera" class="icon-button"><i class="fas fa-sync-alt"></i></button>
    </div>
    <video id="video" autoplay playsinline></video>
    <button id="take-photo" style="display:none;">Take Photo</button>
    <img id="photo" alt="Captured Photo"/>
    <div id="ocr-results" style="display:none;">
        <table>
            <thead>
                <tr>
                    <th>OCR Text</th>
                    <th>Translation</th>
                </tr>
            </thead>
            <tbody id="ocr-table-body">
            </tbody>
        </table>
    </div>
    <script>
        var endpoint = "{{ endpoint }}";
    </script>
    <script src="{{ url_for('static', filename='camera/script.js') }}"></script>
</body>
</html>
