<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Translation</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='translator/translator-icon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='translator/styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='translator/translator-background-2.webp') }}" alt="App Interface" style="width: 100%; border-radius: 8px; margin-bottom: 20px;">
        <div class="button-group">
            <button id="recordZhButton"><i class="fas fa-microphone"></i> Hold to Record (Chinese Input)</button>
            <button id="recordRuButton"><i class="fas fa-microphone"></i> Удерживайте для записи (ввод на русском)</button>
        </div>

        <!-- <button id="recordZhButton"><i class="fas fa-microphone"></i> Hold to Record (Chinese Input)</button>
        <button id="recordRuButton"><i class="fas fa-microphone"></i> Удерживайте для записи (ввод на русском)</button> -->
        <button id="playButton" disabled><i class="fas fa-play"></i> Play Recording</button>
        <audio id="audioPlayback" controls></audio>
        <button id="srButton" disabled><i class="fas fa-microphone-alt"></i> Speech Recognition</button>
        <div id="srResult" class="editable" contenteditable="true"></div>
        <button id="translateButton" disabled><i class="fas fa-language"></i> Translate</button>
        <div id="translationMain" class="editable"></div>
        <div id="translationSupplement" class="editable"></div>
        <button id="ttsButton" disabled><i class="fas fa-volume-up"></i> Speak Out</button>
        <audio id="ttsPlayback" controls></audio>
        <button id="historyButton"><i class="fas fa-history"></i> Show History</button>
        <div id="historyContainer" class="scrollable-list"></div>
        <div class="admin-password">
            <input type="password" id="adminPassword" placeholder="Enter Admin Password">
        </div>
    </div>

    <script>
        var endpoint = "{{ endpoint }}";
    </script>
    <script src="{{ url_for('static', filename='translator/script.js') }}"></script>
</body>
</html>
